:root {
	font-size:
		min(
			calc(80dvh / 224),
			calc(91vw / 142)
		);
}

#root,
body {
	overflow: hidden;

	width: 100vw;
	height: 100vh;
	margin: 0;

	font-family: Cairopixel;

	background-color: black;
}

* {
	touch-action: pan-x pan-y;
	user-select: none;
	box-sizing: border-box;
}

*::after,
*::before {
	box-sizing: inherit;
}

@font-face {
	font-family: Cairopixel;

	src: url("./assets/Cairopixel.ttf") format("truetype");
}

@font-face {
	font-family: Pixelzone;

	src: url("./assets/Pixelzone.ttf") format("truetype");
}
