#root, body {
    width: 100vw;
    height: 100vh;

    margin: 0;

    overflow: hidden;
}

.face {
    position: absolute;

    image-rendering: pixelated;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;

    will-change: transform;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.touch-interactive {
    touch-action: none;
    -ms-touch-action: none;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}